body {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  background-color: #eee;
}
h1, h2 {
  font-size: 14px;
  color: darkblue;
}
blockquote {
  font-style: italic;
}
.negative {
  background-color: #000;
  color: #eee;
}
.xquote {
  background-color: #ffff00;
}

